//- Header for all pages

header.header
    .container-fluid.header-container.col-12
        .row
            .col
                .container
                    .row.myNavMenu
                        .col.p-0
                            <nav class="navbar p-0 navbar-expand-lg bg-body-transparent">
                                <div class="container-fluid p-0">
                                    a.navbar-brand.logo(href="#")
                                        img.logo(src="img/logo.png", alt="Логотип SeaTrip")
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
                                        <div class="navbar-nav flex-grow-0">
                                            a.nav-link.text-uppercase.text-light(aria-current="page" href="#") ГОловна
                                            a.nav-link.text-uppercase.text-light(href="#") послуги
                                            a.nav-link.text-uppercase.text-light(href="#") про компанію
                                            a.nav-link.text-uppercase.text-light(href="#") Акції
                                            a.nav-link.text-uppercase.text-light(href="#") Партнери
                                            a.nav-link.text-uppercase.text-light(href="#") відгуки
                                            a.nav-link.text-uppercase.text-light(href="#") Контакти
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            
                .container     
                    .row
                        .col.hero-section.d-flex.flex-column
                            +heading_paragraph("Морські пригоди","Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!","h1","center"," text-light m-auto","")
                            //-a.bg-warning.button.rounded-5.fs-6.button-yelw-txt-style.d-inline-block.m-auto.text-center.text-uppercase(href="#") детальніше 
                            +ylw-btn("детальніше","","")
                            +heading_paragraph("обери свій<br>план подорожі","Наша фірма -лідер на ринку у своїй сфері","h2","center","m-auto"," primary-heading ")
                            svg.m-auto.double_arrow_svg.m-auto
                                use(xlink:href='#doble_arrow')
